/*-----------------------------------------------------01、界面：光标高亮、光标加粗、提示背景色、悬停状态栏、隐藏版本号、折叠侧边栏-------------------------------------------------*/

/*----------------------界面：光标高亮------------------*/
.theme-light .CodeMirror-activeline {
  background-color: #fef9f1;
}
.theme-light .CodeMirror-activeline .cm-hmd-codeblock {
  background-color: #fef9f1;
}
/*.theme-dark .CodeMirror-activeline {
  background-color: #4f2424;
}*/
.theme-dark .CodeMirror-activeline .cm-hmd-codeblock {
  background-color: #4f2424;
}


/*----------------------界面：光标加粗------------------*/

/*.theme-light .CodeMirror-cursor {
  background-color: #D3AF63 !important;
  border-left-width: 0.40em !important;
  opacity: 60% !important;
}*/

/*.theme-dark .CodeMirror-cursor {
  background-color: #D3AF63 !important;
  border-left-width: 0.40em !important;
  opacity: 60% !important;
}
*/

/*----------------------界面：提示背景色----------------*/
.theme-light .tooltip {
  color: #fff;
  background-color: #42B983;
}
.theme-light .tooltip .tooltip-arrow {
  border-bottom: 5px solid #42B983;
}
.theme-light .tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid #42B983;
}
.theme-light .tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid #42B983;
}
.theme-light .tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid #42B983;
}
.theme-dark .tooltip {
  color: #fff;
  background-color: #d04255;
}
.theme-dark .tooltip .tooltip-arrow {
  border-bottom: 5px solid #d04255;
}
.theme-dark .tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid #d04255;
}
.theme-dark .tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid #d04255;
}
.theme-dark .tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid #d04255;
}


/*----------------------界面：悬停状态栏----------------*/
.view-header:not(:hover) .view-actions {
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
}
.status-bar:not(:hover) .status-bar-item {
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
}


/*----------------------界面：隐藏版本号----------------*/
.titlebar-text {
  display:none;
  font-weight:500;
  padding-top:6px;
  color:var(--text-muted);
  letter-spacing:inherit;
}


/*----------------------界面：折叠侧边栏----------------*/
.workspace {
  position: relative;
}
.side-dock-ribbon.mod-left.is-collapsed, .side-dock-ribbon.mod-right.is-collapsed {
  height: 100%;
}
.side-dock-ribbon.mod-left.is-collapsed:not(:hover), .side-dock-ribbon.mod-right.is-collapsed:not(:hover) {
  opacity: 0;
}
.side-dock-ribbon.mod-left.is-collapsed:not(:hover) {
  left: 0;
}
.side-dock-ribbon.mod-right.is-collapsed:not(:hover) {
  right: 0;
}



