/*-----------------------------------------------------03、表格：推荐一：Latex + whiteRed-rounded / 推荐二：来自Orange主题----------------------------------------------------*/

/*----------------------推荐一：Latex + whiteRed-rounded*/
/*.markdown-preview-view table {
    width: 100;
    color: #3e3d32;
    margin-top: 12px;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2.27px solid black;
    border-bottom: 2.27px solid black;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.markdown-preview-view th,
.markdown-preview-view td {
    border: 0 none;
    padding: 0.51rem;
    line-height: 1.1;
}
.markdown-preview-view table > t > tr:first-child > td,
.markdown-preview-view table > t > tr:first-child > th {
    border-top: 1.36px solid black;
}
.markdown-preview-view table > t > tr:last-child > td,
.markdown-preview-view table > t > tr:last-child > th {
    border-bottom: 1.36px solid black;
}
.markdown-preview-view thead th {
    background-color: white !important;
    font-weight: 700;
    padding: 8px 9px 8px 9px;
    font-size: 0.9em;
}
.markdown-preview-view tr:nth-child(even) {
      background-color: #ebecf1 ;
}
.markdown-preview-view t tr:hover td {
    background-color: #f5f1da;
}
.markdown-preview-view table {
    border-collapse: separate;
    border: solid #b3b3b3 1px;
    border-radius: 6px;
    border-spacing: 0px;
}
.markdown-preview-view table > t > tr > td {
    border-bottom: 1px solid #ccccccbb;
}
.markdown-preview-view table > t > tr:last-child > td {
    border-bottom: thin #ccccccbb;
}
.markdown-preview-view table th:first-of-type{
    border-top-left-radius: 6px;
}
.markdown-preview-view table th:last-of-type{
    border-top-right-radius: 6px;
}
.markdown-preview-view table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.markdown-preview-view table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}*/


/*----------------------推荐二：来自Orange主题-----------*/
/*.markdown-preview-view table {
  border: 1px solid #ebeef5;
  border-radius: 3px;
  transition: .2s;
  background-color: #fff;
  color: #606266;
  text-indent: 1em;
  width: 100%;
}
.markdown-preview-view table thead tr th {
  padding: 30px 0 15px 0;
}
.markdown-preview-view th, .markdown-preview-view td {
  border: unset;
  border-bottom: 1px solid #ebeef5;
}
.markdown-preview-view table t tr td {
  padding: 10px 0;
}
.markdown-preview-view table t tr td mark {
  padding: 0;
}
.markdown-preview-view table t tr:nth-child(2n) {
  background: #fafafa;
}
.markdown-preview-view table t tr:hover {
  background: #f2f6fc;
}
.theme-dark .markdown-preview-view table {
  border: unset;
  border-radius: 3px;
  transition: .2s;
  background-color: unset;
  color: unset;
  text-indent: 1em;
  width: 100%;
}
.theme-dark .markdown-preview-view table thead tr th {
  padding: 30px 0 15px 0;
}
.theme-dark .markdown-preview-view th, .markdown-preview-view td {
  border: unset;
  border-bottom: unset;
}
.theme-dark .markdown-preview-view table t tr td {
  padding: 10px 0;
}
.theme-dark .markdown-preview-view table t tr td mark {
  padding: 0;
}
.theme-dark .markdown-preview-view table t tr:nth-child(2n) {
  background: unset;
}
.theme-dark .markdown-preview-view table t tr:hover {
  background: rgba(242,246,252, .2);
}
*/


/*----------------------推荐三：拖拽表格控制大小---------*/
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row),
.markdown-source-view.mod-cm6.is-readable-line-width:not(.rtl) .cm-contentContainer {
  margin-right: auto;
}


/*----------------------推荐三：来自Blue Topaz主题-------*/
.theme-dark {
    /*table*/
  --table-background-color: #3e3e3e32;
  --table-background-color-odd: #0000001c;
  --table-border-color: #4a4a4a;
  --table-thead-background-color: #2e507863;
  --table-hover-raw-color: #08569a21;
  --table-hover-color: #1f65a221;
  --table-hover-thead-color: #298c54c7;

  --table-color-calendar-2: rgb(0, 91, 144);
  --table-color-rgb: 0, 91, 144;
}

.theme-light {
  /*table*/
  --table-background-color: #f1f1f1bb;
  --table-background-color-odd: #ffffffaf;
  --table-border-color: #7d7d7d;
  --table-thead-background-color: #c2d3e1c7;
  --table-hover-raw-color: #85bfee2f;
  --table-hover-color: #5dacec34;
  --table-hover-thead-color: #ddefff;

  --table-color-calendar-2: rgb(167, 223, 251);
  --table-color-rgb: 167, 223, 251;
}

.markdown-preview-section table:not(.dataview.table-view-table) {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  margin-top: 20px;
  resize: both !important;
}
/*修复Itinerary插件显示问题*/
.markdown-preview-view .markdown-preview-section .block-language-itinerary.fc table {
  overflow: unset;
}

/*modified from https://codepen.io/brettdewoody/pen/oBjbbB */
body.no-wrapped-table table {
  width: 100%;
  table-layout: fixed;
}

body.no-wrapped-table th,
body.no-wrapped-table td {
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}

body.no-wrapped-table th:hover,
body.no-wrapped-table td:hover {
  text-overflow: clip;
}
/*modified from https://forum.obsidian.md/t/custom-css-for-tables-5-new-styles-ready-to-use-in-your-notes/17084 */
body.no-wrapped-dvtable table.dataview th {
  padding: 0px 20px;
  font-size: 1em;
}
body.no-wrapped-dvtable table.dataview thead tr th:first-child,
body.no-wrapped-dvtable table.dataview tbody tr td:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 14em;
  word-break: break-all;
}
body.no-wrapped-dvtable table.dataview tbody tr td:first-child {
  font-size: 0.9em;
}
body.no-wrapped-dvtable table.dataview th {
  padding: 0px 20px;
  font-size: 1em;
  overflow-x: auto;
}
body.no-wrapped-dvtable table.dataview td:not(:first-child),
body.no-wrapped-dvtable table.dataview tr > td:last-of-type {
  font-size: 0.9em;
  white-space: nowrap;
  overflow-x: auto;
  max-width: 17em;
}
body.overflow-x-dvtable table.dataview td,
body.overflow-x-dvtable table.dataview th {
  text-overflow: ellipsis !important;
  overflow: hidden  !important;
  overflow-x: hidden  !important;
}

table.dataview ul.dataview-ul li {
  white-space: nowrap;
}

.markdown-preview-view .table-view-table>tbody>tr>td,
.markdown-source-view.mod-cm6 .table-view-table>tbody>tr>td {
  max-width: 18em;
}

.markdown-preview-view table tbody>tr:nth-child(odd),
.markdown-source-view table tbody>tr:nth-child(odd) {
  background-color: var(--table-background-color-odd);
}

.markdown-preview-view table tbody>tr,
.markdown-source-view table tbody>tr {
  background-color: var(--table-background-color);
}

.markdown-preview-view th,
.markdown-preview-view td {
  padding: 4px 10px;
  border: none;
}

.markdown-preview-view th,
.markdown-source-view th {
  background-color: var(--table-thead-background-color);
  font-family: var(--font-family-strong);
}

/*table hover*/
.markdown-preview-view td:hover,
.markdown-source-view td:hover {
  background-color: var(--table-hover-color);
}

/*table raw hover*/
.markdown-preview-view table tbody>tr:hover,
.markdown-source-view table tbody>tr:hover {
  background-color: var(--table-hover-raw-color);
}

.markdown-preview-view th:hover,
.markdown-source-view th:hover {
  background-color: var(--table-hover-thead-color);
}

/* table wrap*/
/*
.HyperMD-table-row.CodeMirror-line {
  word-wrap: break-word !important;
  word-break: break-word !important;
  white-space: break-spaces !important;
}
*/
body.show-border-table .markdown-preview-view th,
body.show-border-table .markdown-preview-view td {
  border: 1px solid var(--table-border-color);
}

.markdown-preview-view table {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

body.table-style-one.theme-light {
  --table-background-color-odd: rgba(0, 0, 0, 0.02);
  --table-background-color: rgba(0, 0, 0, 0.02);
  --table-thead-background-color: rgba(0, 0, 0, 0.1);
  --table-hover-color: rgba(0, 0, 0, 0.03);
  --table-hover-raw-color: rgba(0, 0, 0, 0.05);
  --table-hover-thead-color: var(--table-thead-background-color);
}
body.table-style-one.theme-dark {
  --table-background-color-odd: rgba(0, 0, 0, 0.3);
  --table-background-color: rgba(0, 0, 0, 0.3);
  --table-thead-background-color: rgba(0, 0, 0, 0.5);
  --table-hover-color: rgba(0, 0, 0, 0.5);
  --table-hover-raw-color: rgba(0, 0, 0, 0.5);
  --table-hover-thead-color: var(--table-thead-background-color);
}

body.table-style-two.theme-light {
  --table-background-color-odd: rgba(0, 0, 0, 0.02);
  --table-background-color: rgba(0, 0, 0, 0.05);
  --table-thead-background-color: rgba(0, 0, 0, 0.1);
  --table-hover-color: rgba(0, 0, 0, 0.03);
  --table-hover-raw-color: rgba(0, 0, 0, 0.09);
  --table-hover-thead-color: var(--table-thead-background-color);
}
body.table-style-two.theme-dark {
  --table-background-color-odd: rgba(0, 0, 0, 0.3);
  --table-background-color: rgba(0, 0, 0, 0.4);
  --table-thead-background-color: rgba(0, 0, 0, 0.5);
  --table-hover-color: rgba(0, 0, 0, 0.5);
  --table-hover-raw-color: rgba(0, 0, 0, 0.5);
  --table-hover-thead-color: var(--table-thead-background-color);
}

body.table-style-two .markdown-preview-view th {
  border: none;
  border-bottom: 2px solid;
}
body.table-style-two .markdown-preview-view td {
  border: none;
}

body.table-style-three .markdown-preview-view th,
body.table-style-three .markdown-source-view th,
body.table-style-three .markdown-preview-view th:hover,
body.table-style-three .markdown-source-view th:hover,
body.table-style-three .markdown-preview-view td:hover,
body.table-style-three .markdown-source-view td:hover,
body.table-style-three .markdown-preview-view table tbody>tr:hover,
body.table-style-three .markdown-source-view table tbody>tr:hover,
body.table-style-three .markdown-preview-view table tbody>tr:nth-child(odd),
body.table-style-three .markdown-source-view table tbody>tr:nth-child(odd),
body.table-style-three .markdown-preview-view table tbody>tr,
body.table-style-three .markdown-source-view table tbody>tr {
  background-color: transparent;
}

/*table hover*/
.markdown-preview-view td:hover,
.markdown-source-view td:hover {
  background-color: var(--table-hover-color);
}

/*table raw hover*/
.markdown-preview-view table tbody>tr:hover,
.markdown-source-view table tbody>tr:hover {
  background-color: var(--table-hover-raw-color);
}

.markdown-preview-view th:hover,
.markdown-source-view th:hover {
  background-color: var(--table-hover-thead-color);
}

.popover mark {
  background-color: var(--text-highlight-bg);
  color: var(--text-normal);
}

.workspace-leaf.mod-active .view-header {
  background-color: var(--background-primary);
  border-bottom: 3px solid var(--theme-color);
}

.status-bar,
.side-dock.mod-right,
.side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}


/*----------------------推荐四：表格四象图---------------*/
/*cssclass: matrix
内容如下形式(表格内容最好使用嵌入形式)：
|                   |             |
| ----------------- | ----------- |
| ![[#To-Do]]       | ![[#Doing]] |
| ![[#Considering]] | ![[#Maybe]] |
*/
.theme-dark {
  /*pseudo-kanban*/
  --p-kanban-bg-color: #6c6c6c42;
  --p-kanban-border-color: transparent;
  --p-kanban-card-color-1: #0000003f;
  --p-kanban-card-color-2: #0000003f;
  --p-kanban-color-6: #f3424252;
  --p-kanban-color-5: #eb973752;
  --p-kanban-color-4: #d2dd3852;
  --p-kanban-color-3: #38ce2a52;
  --p-kanban-color-2: #2ec4c452;
  --p-kanban-color-1: #3496e652;
  --p-kanban-color-8: #b962ff52;
  --p-kanban-color-7: #e45bdd52;
}
.theme-light {
    /*pseudo-kanban*/
  --p-kanban-bg-color: #d3d3d32d;
  --p-kanban-border-color: #a0a0a060;
  --p-kanban-card-color-1: #ffffffc4;
  --p-kanban-card-color-2: #ffffffc4;
  --p-kanban-color-6: #f18e8e65;
  --p-kanban-color-5: #eeb36f65;
  --p-kanban-color-4: #dce28765;
  --p-kanban-color-3: #94ec8c65;
  --p-kanban-color-2: #84ecec65;
  --p-kanban-color-1: #52aaf365;
  --p-kanban-color-8: #ba8be165;
  --p-kanban-color-7: #e677e065;

  --p-kanban-checkbox-color-1: #f18e8e3d;
  --p-kanban-checkbox-color-2: #eeb36f3d;
  --p-kanban-checkbox-color-3: #dce2873d;
  --p-kanban-checkbox-color-4: #94ec8c3b;
  --p-kanban-checkbox-color-5: #84ecec42;
  --p-kanban-checkbox-color-6: #52aaf332;
  --p-kanban-checkbox-color-7: #ba8be134;
}

:root,
.theme-dark {
--matrix-1: var(--p-kanban-color-2);
--matrix-2: var(--p-kanban-color-3);
--matrix-4: var(--p-kanban-color-5);
--matrix-5: var(--p-kanban-color-6);
}
:root,
.theme-light {
  --matrix-1: var(--p-kanban-color-2);
  --matrix-2: var(--p-kanban-color-3);
  --matrix-4: var(--p-kanban-color-5);
  --matrix-5: var(--p-kanban-color-6);
}
.markdown-preview-view.matrix table tr {
  display: flex;
}
.markdown-preview-view.matrix table th {
  background-color: transparent;
  background-image:none;
}
.markdown-preview-view.matrix table t>tr {
  background-color: transparent;
}
.markdown-preview-view.matrix .internal-embed:not(.image-embed) {
  border: 1px solid;
  border-radius: 10px;
}
.markdown-preview-view.matrix thead {
  background-color: transparent;
}
.markdown-preview-view.matrix table tr th,
.markdown-preview-view.matrix table tr td {
  padding-right:0px;
  border: 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.markdown-preview-view.matrix .markdown-embed {
  background-color: transparent;
}
.markdown-preview-view.matrix table tr th > *,
.markdown-preview-view.matrix table tr td > * {
  width: 100%;
  height: 100%;
  background-color: var(--background-secondary-bg-4-bt);
}
.markdown-preview-view.matrix table tr td {
  background-color: transparent;
}
.markdown-preview-view.matrix table tr:nth-child(1n) td:nth-child(1) > * {
  border-color: var(--matrix-1);
}
.markdown-preview-view.matrix table tr:nth-child(1n) td:nth-child(1):hover {
  background-color: var(--matrix-1);
}
.markdown-preview-view.matrix table tr:nth-child(1n) td:nth-child(2) > * {
  border-color: var(--matrix-2);
}
.markdown-preview-view.matrix table tr:nth-child(1n) td:nth-child(2):hover {
  background-color: var(--matrix-2);
}
.markdown-preview-view.matrix table tr:nth-child(2n) td:nth-child(1) > * {
  border-color: var(--matrix-4);
}
.markdown-preview-view.matrix table tr:nth-child(2n) td:nth-child(1):hover {
  background-color: var(--matrix-4);
}
.markdown-preview-view.matrix table tr:nth-child(2n) td:nth-child(2) > * {
  border-color: var(--matrix-5);
}
.markdown-preview-view.matrix table tr:nth-child(2n) td:nth-child(2):hover {
  background-color: var(--matrix-5);
}



