/*-----------------------------------------------------06、文字：标题Size、标题H1、分隔线、两端对齐、首行缩进、标题前后各1em-------------------------------------------------------*/

/*----------------------文字：标题-Size----------------*/
.markdown-preview-view h1, .cm-header-1 { font-size: 1.50rem !important; }
.markdown-preview-view h2, .cm-header-2 { font-size: 1.35rem !important; }
.markdown-preview-view h3, .cm-header-3 { font-size: 1.20rem !important; }
.markdown-preview-view h4, .cm-header-4 { font-size: 1.05rem !important; }
.markdown-preview-view h5, .cm-header-5 { font-size: 0.90rem !important; }
.markdown-preview-view h6, .cm-header-6 { font-size: 0.75rem !important; }


/*----------------------文字：编辑-标题H1（Orange）-----*/
/*div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header {
  color: transparent !important;
  background:none;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header::before {
  display: inline-block;
  white-space: nowrap;
  word-wrap: none;
  width: 2;
  overflow:visible;
  font-size: 0.75rem;
  color: var(--text-muted);
  margin-right: 0.50em;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-1::before {
  content: 'H1';
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-2::before {
  content: 'H2';
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-3::before {
  content: 'H3';
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-4::before {
  content: 'H4';
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-5::before {
  content: 'H5';
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-6::before {
  content: 'H6';
}
*/

/*----------------------文字：阅读-标题H1（Blue Topaz）*/
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  position: relative;
}
.markdown-preview-view h1:hover::before {
  content: 'H1';
  position: absolute;
  width: auto;
  font-size: 0.6rem;
  margin-top: -11px;
  margin-left: -24px;
  border: 1px solid;
  padding: 0px 2px;
  top: 25px;
}
.markdown-preview-view h2:hover::before {
  content: 'H2';
  position: absolute;
  font-size: 0.6rem;
  margin-top: -12px;
  width: auto;
  margin-left: -25px;
  border: 1px solid;
  padding: 0px 2px;
  top: 23px;
}
.markdown-preview-view h3:hover::before {
  content: 'H3';
  position: absolute;
  font-size: 0.6rem;
  margin-top: -10px;
  width: auto;
  margin-left: -25px;
  border: 1px solid;
  padding: 0px 2px;
  top: 19px;
}
.markdown-preview-view h4:hover::before {
  content: 'H4';
  position: absolute;
  font-size: 0.5rem;
  margin-top: -12px;
  width: auto;
  margin-left: -25px;
  border: 1px solid;
  padding: 0px 2px;
  top: 20px;
}
.markdown-preview-view h5:hover::before {
  content: 'H5';
  position: absolute;
  font-size: 0.5rem;
  margin-top: -15px;
  width: auto;
  margin-left: -25px;
  border: 1px solid;
  padding: 0px 2px;
  top: 20px;
}
.markdown-preview-view h6:hover::before {
  content: 'H6';
  position: absolute;
  font-size: 0.5rem;
  margin-top: -17px;
  width: auto;
  margin-left: -25px;
  border: 1px solid;
  padding: 0px 2px;
  top: 20px;
}


/*----------------------文字：阅读-标题H1（Orange）-----*/
/*.markdown-preview-view h1:hover .heading-collapse-indicator.collapse-indicator:before  {
  content: 'H1';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h2:hover .heading-collapse-indicator.collapse-indicator:before  {
  content: 'H2';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h3:hover .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H3';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h4:hover .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H4';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h5:hover .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H5';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h6:hover .heading-collapse-indicator.collapse-indicator::before  {
  content: 'H6';
  color: #999999;
  font-size: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.markdown-preview-view .heading-collapse-indicator.collapse-indicator {
  margin-left: -45px;
}
.markdown-preview-view h1 {
  font-size: 26px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}
.markdown-preview-view h2 {
  font-size: 22px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}
.markdown-preview-view h3 {
  font-size: 20px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}
.markdown-preview-view h4 {
  font-size: 18px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}
.markdown-preview-view h5 {
  font-size: 16px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}
.markdown-preview-view h6 {
  font-size: 16px;
  line-height: 1.65;
  font-weight: 600;
  margin-block-start: 1em;
}*/


/*----------------------文字：分隔线--------------------*/
/*.markdown-preview-view, .markdown-source-view {
  --fancy-hr-bg: var(--background-primary);
  --fancy-hr-fg: var(--text-accent);
}
.workspace-tabs .markdown-preview-view,.workspace-tabs .markdown-source-view {
  --fancy-hr-bg: var(--background-secondary);
}
.hide-tokens .cm-s-obsidian pre.HyperMD-hr {
  opacity: 1;
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, transparent, var(--fancy-hr-fg), transparent);
}
.hide-tokens .cm-s-obsidian pre.HyperMD-hr:after {
  content: "Ω";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 0 0.5rem;
  color: var(--fancy-hr-fg);
  background-color: var(--fancy-hr-bg);
}
.markdown-preview-view hr {
  opacity: 1;
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, transparent, var(--fancy-hr-fg), transparent);
}
.markdown-preview-view hr:after {
  content: "Ω";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 0 0.5rem;
  color: var(--fancy-hr-fg);
  background-color: var(--fancy-hr-bg);
}*/


/*----------------------文字：两端对齐------------------*/
/*.markdown-preview-view {
  letter-spacing: .02em;
  text-align: justify;
  hyphens: auto;
}
.cm-s-obsidian .CodeMirror-line * {
  letter-spacing: .02em;
}*/


/*----------------------文字：首行缩进------------------*/
/*pre.CodeMirror-line:not(.HyperMD-header){
  text-indent: 2em;
}
.markdown-preview-section p{
  text-indent: 2em;
}*/


/*----------------------文字：标题前后各1em--------------*/
/*.cm-s-obsidian pre.HyperMD-header {
  padding-block-start: 1em;
  padding-block-end: 1em;
}*/



