/*-----------------------------------------------------10、样式：CSS、BUG、Plugin-------------------------------------------------------------------------------------------*/

/********************************************************/
/***********************CSS******************************/
/********************************************************/

/*----------------------CSS：缩减栏宽开启下，控制全宽显示--*/
.markdown-preview-view.fullwidth.is-readable-line-width .markdown-preview-sizer, .markdown-source-view.is-readable-line-width.fullwidth .CodeMirror, .is-readable-line-width.fullwidth .markdown-preview-section, .is-readable-line-width.fullwidth .markdown-preview-section > div, .markdown-preview-view.is-readable-line-width.fullwidth .markdown-preview-section {
  width:100% !important;
  max-width: 100%;
}

/*----------------------CSS：隐藏yaml区域----------------*/
.markdown-preview-view.noyaml div>.language-yaml {
  display: none;
}
.markdown-preview-view.noyaml div>.frontmatter-container {
  display: none;
}

/*----------------------CSS：隐藏滚动条-----------------*/
.markdown-preview-view.noscroll::-webkit-scrollbar {
  display:none;
}



/********************************************************/
/***********************BUG******************************/
/********************************************************/

/*----------------------BUG：Floating toc箭头遮挡文字----*/
.CodeMirror-gutter.CodeMirror-linenumbers, .CodeMirror-gutter.CodeMirror-foldgutter {
    background-color: transparent !important;
}

/*----------------------BUG：Image Toolkit图片按钮偏左--*/
.oit-container-view .img-footer .img-title {
    font-size: 12px;
    line-height: 1;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
    opacity: .8;
    color: #fff;
    display: block !important;
    padding-left: 130px !important;
}
.oit-container-view .img-footer .img-toolbar {
    width: 350px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 3px 0;
    display: inline-block !important;
}

/*----------------------BUG：kanban图片偏左-------------*/
.obsidian-banner .banner-image.draggable {
    cursor: grab !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
}

/*----------------------BUG：button侧边栏---------------*/
.setting-item-control button, button {
  font-family: var(--font-ui) !important;
  font-size: var(--font-inputs) !important;
  font-weight: 400 !important;
  background: transparent; !important;
}
button:hover {
  background-color: transparent !important;
}

/*----------------------BUG：Obsidian Table Editor颜色--*/
.mte > button {
  background-color: #9075df !important;
}
.theme-dark .grid.mte > .cell-container.mte > .cell.mte {
  background-color: #262626 !important;
}

/*----------------------BUG：隐藏 various 下方 status---*/
.various-complements__footer {
  display: none !important;
}

/*----------------------BUG：隐藏 various 下方 status---*/
.BC-trail {
  display: none !important;
}


/********************************************************/
/***********************Plugin***************************/
/********************************************************/

/*----------------------Plugin：Folder Note------------ */

/* 预览时，标题前不显示icon */
.markdown-preview-view .cute-card-view a.internal-link[href^="_assets/_example/"]::before {
  background-image: unset;
}
.markdown-preview-view .cute-card-view a.internal-link[href^="_assets/_template/"]::before {
  background-image: unset;
}
.markdown-preview-view .cute-card-view a.internal-link[href^="0000-index/004-inbox/"]::before {
  background-image: unset;
}
.markdown-preview-view .cute-card-view a.internal-link[href^="0000-index/005-paper/"]::before {
  background-image: unset;
}
/* 预览时，鼠标hover时不显示背景色 */
.markdown-preview-view .cute-card-view a.internal-link[href^="0000-index/_example/"]:hover {
  background-color: transparent;
}
h1[data-heading="inbox Overview"] {
  display: none;
}
.cute-card-band .cute-card-view {
  height: 10rem;
}
.cute-card-view .thumb-color-folder {
  background-color: slateblue;
  font-size: 0.5rem !important;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.cute-card-view .thumb-color-note {
  display: none;
}
.cute-card-band .cute-card-view:nth-child(n) {
  background-color: #467ddb;
}
.cute-card-band .cute-card-view:nth-child(3n+1) {
  background-color: #ed843c;
}
.cute-card-band .cute-card-view:nth-child(2n+3) {
  background-color: #4aa58c;
}
.cute-card-band .cute-card-view h1 {
  width: 200px;
  color: #fff;
  font-size: 1.0rem !important;
  margin-top: 40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height: 1.2rem;
}
.cute-card-band .cute-card-view p {
  display: none;
}
.cute-card-band .cute-card-view span {
  color: rgba(220, 221, 222, .5);
  margin: 20px 0;
}
.cute-card-band .cute-card-view .thumb {
  display: none;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 10px 0px 0px;
}


/*----------------------Plugin：Obsidian自带query命令---  */
.markdown-preview-view  .search-results-children .search-result:nth-child(2n) {
  background: #fafafa;
}
.markdown-preview-view  .search-results-children .search-result:hover {
  background: #f2f6fc;
}
.search-result-file-matches {
  border: unset;
  margin: 0 0;
  padding: 0 0;
}
.search-result:last-child .search-result-file-matches {
  border: unset;
}
.tree-item-inner, .search-result-file-title {
  padding: 8px;
}
.search-result-file-matched-text {
  color: #D3AF63;
  background-color: transparent;
}
.theme-dark .markdown-preview-view  .search-results-children .search-result:nth-child(2n) {
  background: unset;
}
.theme-dark  .markdown-preview-view .search-results-children .search-result:hover {
  background: rgba(242,246,252, .2);
}
.theme-dark  .search-result-file-matches {
  border-bottom: 1px solid rgba(187, 191, 196,.1);
}
.theme-dark  .search-result:last-child .search-result-file-matches {
  border-bottom: unset;
}


/*----------------------Plugin：Memos------------------  */
.grass-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #9be9a8 !important;
}
.grass-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #40c463 !important;
}
.grass-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #30a14e !important;
}
.grass-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #216e39 !important;
}
.grass-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #9be9a8 !important;
}
.grass-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #40c463 !important;
}
.grass-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #30a14e !important;
}
.grass-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #216e39 !important;
}
/*Frame*/
.frame-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #F75205 !important;
}
.frame-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #E03A07 !important;
}
.frame-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #BF2104 !important;
}
.frame-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #940B01 !important;
}
.frame-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #F75205 !important;
}
.frame-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #E03A07 !important;
}
.frame-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #BF2104 !important;
}
.frame-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #940B01 !important;
}
/*Olive*/
.olive-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #9cc069 !important;
}
.olive-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #78a851 !important;
}
.olive-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #648b3f !important;
}
.olive-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #4f6e30 !important;
}
.olive-dark.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #9cc069 !important;
}
.olive-dark.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #78a851 !important;
}
.olive-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #648b3f !important;
}
.olive-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #4f6e30 !important;
}
/*Ice*/
.ice-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #82bbf0 !important;
}
.ice-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #5da2eb !important;
}
.ice-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #3889e6 !important;
}
.ice-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #126fe0 !important;
}
.ice-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #82bbf0 !important;
}
.ice-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #5da2eb !important;
}
.ice-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #3889e6 !important;
}
.ice-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #126fe0 !important;
}
/* magenta */
.magenta-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #fa9fb5 !important;
}
.magenta-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #ea4e9c !important;
}
.magenta-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #ae017e !important;
}
.magenta-light.theme-light div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #610070 !important;
}
.magenta-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L1-bg {
  background-color: #fa9fb5 !important;
}
.magenta-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L2-bg {
  background-color: #ea4e9c !important;
}
.magenta-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L3-bg {
  background-color: #ae017e !important;
}
.magenta-dark.theme-dark div[data-type="memos_view"] .usage-heat-map-wrapper > .usage-heat-map > .stat-container.stat-day-L4-bg {
  background-color: #610070 !important;
}


/*----------------------Plugin：calendar-----------------*/
.theme-dark {
  --color-calendar-weekends: #cc8484;
  --color-calendar-weekends-2: #ff9f9f21;
  --calendar-today-background-color: #00b3005e;
  --theme-color-translucent-3: #217cc769;
}
.theme-light {
  --color-calendar-weekends: #c74a4a;
  --color-calendar-weekends-2: #fdadad21;
  --theme-color-translucent-3: #91c2eb80;
}
.theme-dark #calendar-container {
  --color-tr: #11111183;
}
.theme-light #calendar-container {
  --color-tr: #ffffffa9;
}
#calendar-container th {
  padding: 10px 0;
  border-radius: 0px !important;
}
#calendar-container th:nth-last-child(1),
#calendar-container th:nth-last-child(2) {
  color: var(--color-calendar-weekends) !important;
}
#calendar-container td:nth-last-child(1),
#calendar-container td:nth-last-child(2) {
  background-color: var(--color-calendar-weekends-2) !important;
}
#calendar-container .day {
  border-radius: 50% !important;
}
#calendar-container .today {
  color: var(--text-accent) !important;
  font-weight: 700 !important;
  background-image: unset;
}
#calendar-container .day:active,
#calendar-container .active,
#calendar-container .active.today {
  background-color: var(--theme-color-translucent-3) !important;
}


/*----------------------Plugin：Kanban shadow-3----------*/
.theme-dark {
    --background-transparent-black-or-white-1: #232323c2;
    --background-transparent-black-or-white-2: #0f0f0f69;
    --background-transparent-black-or-white-3: #2222224d;
    --background-transparent-blue: #53a3ff41;
    --background-transparent-blue-2: #3d8fec11;
    --kanban-snippet-color-1: #1f80c1;
    --kanban-snippet-color-2: #941da9;
}
.theme-light {
    --background-transparent-black-or-white-1: #ffffffb0;
    --background-transparent-black-or-white-2: #eeeeee88;
    --background-transparent-black-or-white-3: #f5f5f583;
    --background-transparent-blue: #5eb6ff44;
    --background-transparent-blue-2: #6dbdff1f;
    --kanban-snippet-color-1: #71c6ff;
    --kanban-snippet-color-2: #d97aff;
}
.kanban-plugin {
    background-color: var(--background-secondary-alt-bg-4-bt) !important;
    display: flex;
    height: 100vh;
    background: #000;
}
.theme-dark .kanban-plugin__lane-header-wrapper {
    background: var(--background-transparent-blue) !important;
    padding: 5px 11px!important;
    border-radius: 6px 6px 0 0;
    margin-bottom: 5px !important;
    z-index: 100 !important;
}
.kanban-plugin__lane-wrapper:nth-child(n) {
    background: unset !important;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    animation: huerotate-1 6s infinite linear;
    filter: hue-rotate(360deg);
    border-left: 3px solid !important;
    border-right: 3px solid !important;
    border-bottom: 3px solid !important;
    border-image: linear-gradient(45deg, var(--kanban-snippet-color-1), var(--kanban-snippet-color-2)) 1 !important;
    clip-path: inset(0px round 12px) !important;
}
@keyframes huerotate-1 {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(n):hover {
    background: var(--background-transparent-blue-2) !important;
}
.kanban-plugin__lane-wrapper:nth-child(7n+2) {
    animation: huerotate-2 6s infinite linear;
    filter: hue-rotate(420deg);
}
@keyframes huerotate-2 {
    0% {
        filter: hue-rotate(60deg);
    }
    100% {
        filter: hue-rorate(420deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(7n+3) {
    animation: huerotate-3 6s infinite linear;
    filter: hue-rotate(480deg);
}
@keyframes huerotate-3 {
    0% {
        filter: hue-rotate(120deg);
    }
    100% {
        filter: hue-rorate(480deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(7n+4) {
    filter: hue-rotate(520deg);
    animation: huerotate-4 6s infinite linear;
}
@keyframes huerotate-4 {
    0% {
        filter: hue-rotate(160deg);
    }
    100% {
        filter: hue-rorate(520deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(7n+5) {
    filter: hue-rotate(590deg);
    animation: huerotate-5 6s infinite linear;
}
@keyframes huerotate-5 {
    0% {
        filter: hue-rotate(230deg);
    }
    100% {
        filter: hue-rorate(590deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(7n+6) {
    filter: hue-rotate(640deg);
    animation: huerotate-6 6s infinite linear;
}
@keyframes huerotate-6 {
    0% {
        filter: hue-rotate(280deg);
    }
    100% {
        filter: hue-rorate(640deg);
    }
}
.kanban-plugin__lane-wrapper:nth-child(7n+0) {
    filter: hue-rotate(690deg);
    animation: huerotate-7 6s infinite linear;
}
@keyframes huerotate-7 {
    0% {
        filter: hue-rotate(330deg);
    }
    100% {
        filter: hue-rorate(690deg);
    }
}


/*----------------------Plugin：Dataview-----------------*/
ul.dataview.list-view-ul>li:not(.task-list-item) {
  border-left: none !important;
  margin-left: -1em;
}
li.dataview-result-list-li ul>li:not(.task-list-item) {
  border-left: none !important;
}
ul.dataview.list-view-ul>li:not(.task-list-item)::before {
  font-family: boxicons;
  font-size: 0.8em;
  padding: 0 5px 0 0;
}
body.dataview-list-style-pacman ul.dataview.list-view-ul>li:not(.task-list-item):first-of-type::before {
  content: '\edcf';
  color: var(--list-ol-number-color);
}
body.dataview-list-style-pacman ul.dataview.list-view-ul>li:not(.task-list-item):not(:first-of-type):nth-of-type(2n):not(:nth-of-type(10n))::before {
  content: '\eaee';
  color: var(--list-ul-disc-color);
}
body.dataview-list-style-pacman ul.dataview.list-view-ul>li:not(.task-list-item):not(:first-of-type):nth-of-type(2n+1)::before {
  content: '\edd1';
  color: var(--list-ul-disc-color);
}
body.dataview-list-style-pacman ul.dataview.list-view-ul>li:not(.task-list-item):nth-of-type(10n)::before {
  content: '\ef29';
  color:  var(--list-ol-number-color);
}
body.dataview-list-style-pacman ul.dataview.list-view-ul {
  list-style: none;
}
ul.dataview.dataview-ul.dataview-result-list-root-ul>li.dataview-result-list-li {
  border-left: none !important;
  margin: 0;
  padding-left: 1em;
}
ul.dataview.dataview-ul.dataview-result-list-root-ul {
  list-style: none;
}
.CodeMirror-code .CodeMirror-linewidget.rendered-block-embed.rendered-widget {
  background-color: var(--embed-color);
  border-radius: var(--radius-xs);
  border: 1px solid var(--embed-color);
}
body.rainbow-lines table.dataview.table-view-table ul ul::before,
body.rainbow-lines table.dataview.table-view-table ol ul::before,
body.rainbow-lines table.dataview.table-view-table ul ol::before,
body.rainbow-lines table.dataview.table-view-table ol ol::before,
body.list-vertical-line-one table.dataview.table-view-table ul ul::before,
body.list-vertical-line-one table.dataview.table-view-table ol ul::before,
body.list-vertical-line-one table.dataview.table-view-table ul ol::before,
body.list-vertical-line-one table.dataview.table-view-table ol ol::before,
body.list-vertical-line-two table.dataview.table-view-table ul ul::before,
body.list-vertical-line-two table.dataview.table-view-table ol ul::before,
body.list-vertical-line-two table.dataview.table-view-table ul ol::before,
body.list-vertical-line-two table.dataview.table-view-table ol ol::before,
body.list-vertical-line-three table.dataview.table-view-table ul ul::before,
body.list-vertical-line-three table.dataview.table-view-table ol ul::before,
body.list-vertical-line-three table.dataview.table-view-table ul ol::before,
body.list-vertical-line-three table.dataview.table-view-table ol ol::before {
  border-left: none;
}
body.rainbow-lines .kanban-plugin__markdown-preview-view ul ul::before,
body.rainbow-lines .kanban-plugin__markdown-preview-view ol ul::before,
body.rainbow-lines .kanban-plugin__markdown-preview-view ul ol::before,
body.rainbow-lines .kanban-plugin__markdown-preview-view ol ol::before,
body.list-vertical-line-one .kanban-plugin__markdown-preview-view ul ul::before,
body.list-vertical-line-one .kanban-plugin__markdown-preview-view ol ul::before,
body.list-vertical-line-one .kanban-plugin__markdown-preview-view ul ol::before,
body.list-vertical-line-one .kanban-plugin__markdown-preview-view ol ol::before,
body.list-vertical-line-two .kanban-plugin__markdown-preview-view ul ul::before,
body.list-vertical-line-two .kanban-plugin__markdown-preview-view ol ul::before,
body.list-vertical-line-two .kanban-plugin__markdown-preview-view ul ol::before,
body.list-vertical-line-two .kanban-plugin__markdown-preview-view ol ol::before,
body.list-vertical-line-three .kanban-plugin__markdown-preview-view ul ul::before,
body.list-vertical-line-three .kanban-plugin__markdown-preview-view ol ul::before,
body.list-vertical-line-three .kanban-plugin__markdown-preview-view ul ol::before,
body.list-vertical-line-three .kanban-plugin__markdown-preview-view ol ol::before {
  border-left: none;
}
.markdown-preview-view .dataview.inline-field-standalone-value {
  font-family: var(--font-family-major);
  background-color:  transparent;
}


/*----------------------Plugin：Dataview Cards ----------*/
:root{
  --cards-width:138px;
}
@media (max-width:450px) {
  :root{
      --cards-width:112.64px;
      }
}
@media (max-width:375px) {
  :root{
      --cards-width:102.4px;
      }
}
@media (max-width:350px) {
  :root{
      --cards-width: 87.04px;
      }
}
img[alt^="bookcover"] {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.theme-light progress::-webkit-progress-bar {
background: #cccccc;
}
.theme-dark progress::-webkit-progress-bar {
background: #1a1919;
}
.cards progress{
  position:absolute;
  margin-top: -10px;
  overflow: hidden;
  height: 3px;
  background:#f0ec05;
}
.cards progress.yellow::-moz-progress-bar {
  background: #e78f0c;
}
.cards progress.yellow::-webkit-progress-value  {
  border-radius: 1em;
  background: #e78f0c;
}
.cards progress.hot::-moz-progress-bar {
  background: #fa7131dc;
}
.cards progress.hot::-webkit-progress-value  {
  border-radius: 1em;
  background: #fa7131dc;
}
.cards table.dataview tbody {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(var(--cards-width),1fr));
  grid-column-gap:1.2rem;
  grid-row-gap:0.75rem;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: -36px;
}
@media (max-width:1120px) {
  .cards table.dataview tbody {
      margin-left: -40px;
      padding: 0 40px
  }
}
@media (max-width:960px) {
  .cards table.dataview tbody {
      margin-left: -30px;
      padding: 0 30px
  }
}
@media (max-width:460px) {
  .cards table.dataview tbody {
      padding: 0px;
      margin-left: -20px;
  }
}
.cards table.dataview>tbody>tr {
  display: block;
  width:var(--cards-width);
  height: auto;
  margin-left: 36px;
  margin-bottom: 44px;
  background-color:transparent;
}
@media (max-width:1120px) {
  .cards table.dataview>tbody>tr {
    margin-left: 40px
  }
}
@media (max-width:960px) {
  .cards table.dataview>tbody>tr {
    margin-left: 30px
  }
}
@media (max-width:460px) {
  .cards table.dataview>tbody>tr {
    margin-left: 20px;
    margin-bottom: 20px
  }
}
.cards table.dataview tbody>tr>td:first-child,
.markdown-source-view.mod-cm6.cards .dataview.table-view-table>tbody>tr>td:first-child {
  width: 100%;
  height: calc(var(--cards-width) / 0.7 );
  display: block;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
  background:var(--background-secondary);
  position: relative;
  padding: 0;
}
.cards table.dataview tbody>tr>td img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color:var(--background-secondary);
  -o-object-fit: cover;
  object-fit: cover;
}
.cards table.dataview tbody>tr>td:first-child:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, hsla(0, 0%, 63.1%, .25), rgba(21, 21, 20, .1) 1%, hsla(0, 0%, 100%, .15) 4%, hsla(0, 0%, 58%, .1) 8%, hsla(0, 0%, 89%, 0) 57%, rgba(223, 218, 218, .03) 91%, rgba(223, 218, 218, .05) 98%, hsla(0, 0%, 100%, .1));
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .1);
}
.cards table.dataview tbody>tr>td:not(:first-child),
.markdown-source-view.mod-cm6.cards .dataview.table-view-table>tbody>tr>td:not(:first-child) {
  padding: 0;
  margin-top: 4px;
  font-size: 15px;
  color: var(--text-muted);
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-text-size-adjust: none;
  box-orient: vertical;
  height: auto;
  max-height: 36px;
  font-size: 13px;
  line-height: 1.1;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cards table.dataview tbody>tr>td>button {
  font-size: 12px;
  background-color: transparent;
  padding: 0;
}
.cards table.dataview tbody>tr>td:nth-child(2) {
  margin-top: 10px;
}
.cards table.dataview tbody>tr>td:nth-child(3) {
  -webkit-text-stroke: 0.25px ;
}
.cards table.dataview thead {
  user-select:none;
  width:160px;
  display:block;
  float:right;
  position:relative;
  text-align:right;
  padding-bottom:4px
}
.cards table.dataview thead:before {
  content:'';
  background-repeat:no-repeat;
  cursor:var(--cursor);
  text-align:right;
  padding:4px 10px;
  margin-bottom:2px;
  border-radius:5px;
  font-weight:500;
  font-size:var(--font-adaptive-small);
}
.cards table.dataview thead:before {
  opacity:.25;
  background-position:center center;
  background-size:18px;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="white" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}
.theme-light .cards table.dataview thead:before {
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}
.cards table.dataview thead:hover:before {
  opacity:.5;
}
.cards table.dataview thead>tr {
  position:absolute;
  display:none;
  z-index:9;
  border:1px solid var(--background-modifier-border);
  background-color:var(--background-secondary);
  box-shadow:0 2px 8px var(--background-modifier-box-shadow);
  padding:6px;
  border-radius:6px;
  flex-direction:column;
  margin:0;
  width:100%;
}
.cards table.dataview thead:hover>tr{
  display:flex;
}
.cards table.dataview thead>tr>th{
  display:block;
  background-color:var(--background-primary);
  padding:3px 30px 3px 6px!important;
  border-radius:5px;
  width:100%;
  font-weight:400;
  color:var(--text-muted);
  border:none;
  font-size:var(--font-adaptive-small);
}
.cards table.dataview thead>tr>th[sortable-style=sortable-asc],
.cards table.dataview thead>tr>th[sortable-style=sortable-desc] {
  color:var(--text-normal)
}
.cards table.dataview thead>tr>th:hover {
  color:var(--text-normal);
  background-color:var(--background-secondary);
}


/*----------------------Plugin：day planner--------------*/
.day-planner-status-bar-text {
  color: var(--text-accent);
  font-weight: 600;
  margin-top: 3px !important;
}
.status-bar-item>* {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.progress-pie.day-planner {
  background-color: var(--day-planner-pie);
  float: left;
  height: 20px;
  margin: 0.3px 10px 0.3px 0;
  width: 20px;
  display: none;
}
.aside__line {
  background: var(--day-planner-dot) !important;
  left: 35px !important;
}
.ei_Dot {
  background-color: var(--day-planner-line) !important;
  left: 28px !important;
}
.ei_Title {
  font-size: 15px !important;
  margin-left: -10px !important;
}
.ei_Copy {
  font-size: 15px !important;
  margin-left: 5px !important;
}
.event_item {
  overflow: hidden !important;
}
#now-line, .timeline-time {
  background-color: var(--day-planner-timeline) !important;
}
.event_item:hover {
  background-color: var(--day-planner-item-hover) !important;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item_color1 {
  background-color: var(--event-item-color1) !important;
}
.event_item_color2 {
  background-color: var(--event-item-color2) !important;
}
.event_item_color3 {
  background-color: var(--event-item-color3) !important;
}
.event_item_color4 {
  background-color: var(--event-item-color4) !important;
}
.event_item_color5 {
  background-color: var(--event-item-color5) !important;
}
.event_item_color6 {
  background-color: var(--event-item-color6) !important;
}
.event_item_color7 {
  background-color: var(--event-item-color7) !important;
}
.event_item_color8 {
  background-color: var(--event-item-color8) !important;
}
.event_item_color9 {
  background-color: var(--event-item-color9) !important;
}
.event_item_color10 {
  background-color: var(--event-item-color10) !important;
}


/*----------------------Plugin：Breadcrumbs--------------*/
.workspace-leaf-content[data-type="breadcrumbs-matrix"] summary.hier-summary,
h3.breadcrumbs-matrix-header {
  color: var(--h3-color) !important;
}
.workspace-leaf-content[data-type="breadcrumbs-matrix"] summary {
  color: var(--h4-color) !important;
}
h3.breadcrumbs-matrix-header:hover::before,
h5.breadcrumbs-matrix-header:hover::before {
  display: none;
}
h5.breadcrumbs-header,
h5.breadcrumbs-matrix-header {
  color: var(--h5-color) !important;
}
.breadcrumbs-matrix-square {
  border: none !important;
}
.breadcrumbs-matrix ol {
  margin-left: 8px !important;
}
